html{
    background-color: rgba(128, 128, 128,0.2);
  }
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  *{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    box-sizing: border-box;
  }
  
  /*#4ba4fa*/