.auth{
	position: relative;
	top:1rem;
}

.auth-wave{
	position: fixed;
	top:1.4rem;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.auth-container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :3.5rem;
    padding: 0 1rem;
}

.auth-img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.auth-login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.auth-img img{
	width: 500px;
}

.auth-form{
	width: 360px;
}

.auth-login-content img{
    height: 100px;
}

.auth-login-content h2{
	margin: 15px 0;
	color: #2d386e;
	text-transform: uppercase;
	font-size: 0.5rem;
}

.auth-login-content .auth-input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #2d386e;
}

.auth-login-content .auth-input-div.one{
	margin-top: 0;
}

.auth-i{
	color: #2d386e;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.5rem;
}

.auth-i i{
	transition: .3s;
}

.auth-input-div > div{
    position: relative;
	height: 15px;
}

.auth-input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #2d386e;
	font-size: 14px;
	transition: .3s;
}

#error{
	display: block;
	text-decoration: none;
	color: #e71717;
	font-size: 0.3rem;
	transition: .3s;
	margin-bottom: 10px;
}

#noerror{
	display: none;
}

.auth-input-div:before, .auth-input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.auth-input-div:before{
	right: 50%;
}

.auth-input-div:after{
	left: 50%;
}

.auth-input-div.focus:before, .auth-input-div.focus:after{
	width: 50%;
}

.auth-input-div.focus > div > h5{
	top: -5px;
	font-size: 12px;
}

.auth-input-div.focus > .i > i{
	color: #38d39f;
}

.auth-input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding-left:0.25rem;
	font-size: 0.25rem;
	color: #2d386e;
	font-family: 'poppins', sans-serif;
}

.auth-input-div.pass{
	margin-bottom: 10px;
}

.auth-div input{
	border-bottom: 2px solid #2d386e;
}

.auth-a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #2d386e;
	font-size: 0.25rem;
	transition: .3s;
}

.auth-a:hover{
	color: #38d39f;
}

.auth-btn{
	display: block;
	width: 100%;
	height: 35px;
	border-radius: 15px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 0.3rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 0.5rem 0;
	cursor: pointer;
	transition: .5s;
}
.auth-btn:hover{
	background-position: right;
}


@media screen and (max-width: 1050px){
	.auth-container{
		grid-gap: 2.5rem;
	}
}

@media screen and (max-width: 1000px){
	.auth-form{
		width: 290px;
		margin: auto;
	}

	.auth-login-content h2{
        font-size: 0.7rem;
        margin: 8px 0;
	}

	.auth-img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.auth-container{
		grid-template-columns: 1fr;
	}
	.auth-img{
		display: none;
	}

	.auth-wave{
		display: none;
	}

	.auth-login-content{
		justify-content: center;
	}
}